* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: aquamarine;
}

header h2 {
  font-size: 2rem;
}

nav ul {
  list-style: none;
  /*border: solid 2px red;*/
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.15rem;
}
section {
  padding: 30px;
}
.services {
  background-color: gray;
  min-height: 200px;
  gap: 1rem;
  padding: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 2fr);
  font-size: 12px;
}
.excursions {
  /*background-color: beige;*/
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 75%;
  text-align: justify;
}
.wildlife {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 75%;
  text-align: justify;
}
.sightseeing {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 20px;
  margin-left: 50px;
  width: 75%;
}
.expeditions {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 75%;
  text-align: justify;
}
.foods {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 75%;
  text-align: justify;
}
.wine {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 75%;
  text-align: justify;
}
/*.nav-end {
  display: flex;
  border: solid 2px red;
  width: 75%;
  justify-content: space-between;
}*/
