* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Crimson Text > serif
Lato > sans serif */

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
}
.navbar a {
  float: left;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  gap: 20px;
}
.navbar a:hover {
  background-color: red;
}
a {
  font-family: "Caveat";
}

p {
  line-height: 140%;
}

#home {
  font-family: "Lato", serif;
  color: #4c4d5f;
}

#home h2 {
  /* font-family: "Crimson Text", serif; */
  margin-bottom: 1rem;
}
.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20%;
  width: 100%;
  max-width: 70rem;
  padding: 3.25rem;
  margin: auto;
  justify-content: space-between;
}
.home-item {
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  border-radius: 5px;
  box-shadow: 0 0 68px 0 rgba(2, 4, 69, 0.08);
  padding: 2rem 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 458px;
}
.left {
  justify-content: space-between;
}
.right {
  border-radius: 30px;
  justify-content: flex-end;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("https://images.unsplash.com/photo-1599202860130-f600f4948364?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  color: white;
}
.highlight {
  background-color: #00b289;
  color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
}
.main-cta-btn {
  padding: 0.5rem 3rem;
  max-width: fit-content;
  border-radius: 5px;
  border: none;
  background-color: #00b289;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
}
.sec-cta-btn {
  padding: 0.5rem 3rem;
  max-width: fit-content;
  border-radius: 5px;
  border: 1px solid #00b289;
  background-color: white;
  color: #00b289;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
}
.frontend {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 50%;
  text-align: justify;
  border: 2px solid #4c4d5f;
  border-width: 2px;
  color: black;
}
.frontend:hover {
  transform: scale(1.02);
}
.python {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;

  width: 50%;
  text-align: justify;
  color: black;
  border: 2px solid #4c4d5f;
  border-width: 2px;
}
.python:hover {
  transform: scale(1.02);
}
.android {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 50%;
  text-align: justify;
  border: 2px solid #4c4d5f;
  border-width: 2px;
  color: black;
}
.android:hover {
  transform: scale(1.02);
}

.ios {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 50%;
  text-align: justify;
  border: 2px solid #4c4d5f;
  border-width: 2px;
  color: black;
}

.ios:hover {
  transform: scale(1.02);
}

.ui {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 50%;
  text-align: justify;
  border: 2px solid #4c4d5f;
  border-width: 2px;
  color: black;
}
.ui:hover {
  transform: scale(1.02);
}

.fullstack {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  width: 50%;
  text-align: justify;
  color: black;
  border: 2px solid #4c4d5f;
  border-width: 2px;
}
.fullstack:hover {
  transform: scale(1.02);
}

.PriceValue p {
  font-size: 20px;
  font-family: "Arial";
}
h3 {
  font-size: 22px;
}
.underlined {
  color: #00b289;
  font-size: 12px;
}
p {
  font-size: 14px;
}

.Prices {
  background-color: #fff;
  min-height: 200px;
  max-height: 500px;
  gap: 1rem;
  padding: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 2fr);
  font-size: 12px;
}
hr {
  color: #00b289;
}
button {
  background-color: #00b289;
  color: white;
  height: 150%;
  border-color: #00b289;
  padding: 20px 20px;
}
/*h2 {
  text-align: center;
  text-decoration-color: white;
}*/
.PriceName {
  font-size: 24px;
}
.lblMonthly {
  font-size: 22px;
  text-align: justify;
}
.lblYearly {
  font-size: 22px;
  text-align: justify;
}
.PriceHeader {
  display: flex;
  margin-left: 6rem;
  margin-top: 1rem;
}
/*.PriceHeader > div {
  margin: 10px;
  margin-right: 35px;
  text-align: center;
}*/
.Wrapper {
  display: flex;
  margin-left: 80rem;
  margin-top: 1rem;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00b289;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00b289;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
